img{
    height:200px;
    width:200px;
}
.main-div{
    /* font-weight: 400; */
    width:1500px;
    height:250px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 1px solid black;
    border-radius:15px;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.desc{
    width:250px;

}